<div ng-controller="pxPercentCirclePredixCtrl as ctrl" ng-style="{'width': ctrl.width, 'height' : ctrl.height}">
	<link ng-href="{{DECISYON.template.mainLibraryPath}}/vendor/px-percent-circle/px-percent-circle.html" rel="import" dcy-on-load load-handler="ctrl.setPredixPercentCircleLibraryLoaded();">
	<px-percent-circle val="{{ctrl.val}}" max="{{ctrl.max}}" thickness="{{ctrl.thickness}}"></px-percent-circle>
</div>